[submodule "ThirdParties/gsl"]
	path = ThirdParties/gsl
	url = https://git.savannah.gnu.org/git/gsl.git
[submodule "publication/eos_lut"]
	path = publication/eos_lut
	url = git@gitlab.com:publications_gzk/eos_lut.git
[submodule "ThirdParties/coolprop"]
	path = ThirdParties/coolprop
	url = https://github.com/coolprop/coolprop
